# ----------------------------------------------------------- #
# Note: this file originates in ahmadnassri/template-node-lib #
# ----------------------------------------------------------- #

.nyc_output
coverage
node_modules
dist
*.log
