# ----------------------------------------------- #
# Note: this file originates in template-node-lib #
# ----------------------------------------------- #
*.log
.nyc_output
coverage
node_modules
dist
