# ----------------------------------------------------------- #
# Note: this file originates in ahmadnassri/template-node-lib #
# ----------------------------------------------------------- #

name: release

on:
  workflow_run:
    workflows: [ test ]
    branches: [ master ]
    types: [ completed ]

jobs:
  release:
    timeout-minutes: 20

    runs-on: ubuntu-latest

    outputs:
      published: ${{ steps.release.outputs.published }}
      version: ${{ steps.release.outputs.release-version }}

    steps:
      - uses: ahmadnassri/action-workflow-run-wait@v1.4.3
        with:
          delay: 10000
          timeout: 900000
          ignore-cancelled: true

      - uses: actions/checkout@v2
        with:
          submodules: true

      - id: release
        uses: ahmadnassri/action-semantic-release@v1
        with:
          config: ${{ github.workspace }}/.semantic.json
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

  mirror:
    needs: release

    timeout-minutes: 5

    runs-on: ubuntu-latest

    if: needs.release.outputs.published == 'true'

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - uses: ahmadnassri/action-github-registry-npm-proxy@v2
        with:
          token: ${{ secrets.GH_TOKEN }}
          scope: ${{ github.repository_owner }}

      - name: publish to github registry
        run: |
          jq '.name = "@'${GITHUB_REPOSITORY/node-/}'"' package.json > /tmp/package.json; mv /tmp/package.json .
          npm version --no-git-tag-version v${{ needs.release.outputs.version }}
          npm publish
